body{
    margin-left: 3%;
    margin-right: 3% ;
    margin-top: 3em;
    margin-bottom: 3em;
    color: rgb(75, 64, 64);
    background-color: rgb(253, 242, 242);
    font-family: 'PT Sans', sans-serif;
}
h1{
 font-size: 2.5em;
}
h2{
 font-size: 2em;
}
.himg{
    width: 200px;
}
.fimg{
    width: 200px;
}
header .himg{
    display: block;
    margin: auto;
}
a{
    text-decoration: none;
    color: antiquewhite;
}
.sec1 article{
    background-image: url(opal.jpg);
    background-size: cover;
    background-position:center;
    color: rgb(255, 255, 255);
}
nav ul{
   list-style: none;
   background-color: rgb(12, 10, 10);
   text-align: center;
   padding: 5px;
   border-radius: 20px;
   animation: navanimation 5s infinite ;
}
@keyframes navanimation{
    0%, 100%{
        background-color: black;
    }
    50%{
        background-color:rgb(97, 93, 93);
    }
}
nav ul li:hover{
    color:rgb(118, 153, 158);
    transform: scale(125%);
    transition: 0.5s;
}
nav ul li{
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
}
article li{
    list-style: none;
}
section{
    display: flex;
}
article{
    flex: 1;
    text-align: center;
    position: relative;
    border-radius: 20px;
    margin: 10px;
    text-align: start;
    padding: 5px;
    overflow: hidden;
    background-color: rgb(230, 225, 225);
}
h2{
    margin-left: 10px;
}
p{
    margin-left: 10px;
}

.a1{
    display: flex;
    flex-direction: column; 
}
.a2{
    display: flex;
    flex-direction: column;  
}

.a3{
    display: flex;
    flex-direction: column;
}
footer{
    display: flex;
    margin: 20px;
}
footer div{
  flex: 1;
}
.copyright{
    text-align: end;
}
.a{
    background-repeat: no-repeat;
}
